*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* tamaño estable de la caja*/
}


.form-login{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    border-radius: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; /*parte inferiior de un elemento */
   
    
    background-color: #66d1c5;


}
.form-login img{
    width: 150px;
    display: block;
    margin: 20px auto;

   
}
h2{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: rgb(179, 8, 170);
    margin-bottom: 25px;
}
.form-login input{
    
    display: block;
    margin: auto;
    padding-left: 10px;
    height: 40px;
    width: 75%;
    color: rgb(8, 0, 2);
    border: 1px solid white;
    border-radius: 2px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: transparent;
    
    
    font-size: 16px;
    outline: none;
}
.form-login input[type="password"]{
    margin-top: 20px;

}
::placeholder{
    font-size: 16px;
    color: rebeccapurple;
}
.form-login input:hover {
    transition: .5s;
    border: 1px solid palevioletred;
}
.form-login button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 35px;
    height: 35px;
    width: 80%;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
    border: 2px solid #ad086e;
}
.form-login button:hover {
    color: aliceblue;
    border: 2px solid #24a19c;;
    background-color: #24a19c;

}
/* registro*/

.registro button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 35px;
    height: 35px;
    width: 80%;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
    border: 2px solid #ad086e;
}
.registro button:hover{
    color: aliceblue;
    border: 2px solid yellow;
    background-color: blueviolet;
}
footer
{
  
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #6ebfb5;
}
